<h2>Auditoriums</h2>
<div class="auditorium-list">
    {% for auditorium in auditoriums %}
    <div class="auditorium">
        {% if auditorium.images %}
			<img src="{{ auditorium.images.url }}" alt="Image of {{ auditorium.user.username }}">
		{% else %}
			<img src="../static/images/blue_mac2.jpg" alt="Default Image">
		{% endif %}
        <h3>{{ auditorium.name }}</h3>
        <p>{{ auditorium.is_ac|yesno:"AC,Non-AC" }}</p>
        <p>Price: {{ auditorium.price }}</p>
    </div>
    {% endfor %}
</div>
