<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		<title>Event Management</title>

		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<!-- google fonts -->
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+Sans:regular,italic,bold,bolditalic"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nixie+One:regular,italic,bold,bolditalic"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+SC:regular,italic,bold,bolditalic"/>
		
		<!-- css -->
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/style.css" media="screen"/>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.js"></script>
		<![endif]-->

		<!--[if IE 8]>
	    	<script src="assets/js/selectivizr.js"></script>
	    <![endif]-->
	</head>
	
	<body>
		<div id="drawer-right">
			<div class="cross text-right">
				<a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
			</div>
			<h2>Navigate</h2>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/"><i class="fa fa-home"></i> Home</a>
            </li>
            <li>
                <a href="{% url 'login' %}"><i class="fa fa-lock"></i> Login</a>
            </li>
            <li>
                <a href="{% url 'register_user' %}"><i class="fa fa-user"></i> User Registration</a>
            </li>
            <li>
                <a href="{% url 'register_auditorium' %}"><i class="fa fa-building"></i> Auditorium Registration</a>
            </li>
        </ul>
			<div class="social">
				<h2>Stay Connected</h2>
				<ul>
					<li><a href=""><i class="fa fa-facebook-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-twitter-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-tumblr-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-google-plus-square fa-3x"></i></a></li>
				</ul>
			</div>
		</div><!-- #drawer-right -->

		<div id="wrapper">
			
			<div id="header" class="content-block header-wrapper">
				<div class="header-wrapper-inner">
					<section class="top clearfix">
						<div class="pull-left">
							<h1><a class="logo" href="/">iEvent</a></h1>
						</div>
						<div class="pull-right">
							<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
						</div>
					</section>
					<form class="login-wrapper" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="form-group">
							<label for="username">Auditorium Name:</label>
							<input type="text" class="form-control" id="username" name="username" required>
						</div>
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" class="form-control" id="email" name="email" required>
						</div>
						<div class="form-group">
							<label for="password">Password:</label>
							<input type="password" class="form-control" id="password1" name="password1" required>
						</div>
						<div class="form-group">
							<label for="password">Confirm Password:</label>
							<input type="password" class="form-control" id="password2" name="password2" required>
						</div>
                        <div class="form-group">
							<label for="capacity">Capacity:</label>
							<input type="number" class="form-control" id="capacity" name="capacity" required>
						</div>
                        <div class="form-group">
							<label for="location">Location:</label>
							<input type="text" class="form-control" id="location" name="location" required>
						</div>
                        <div class="form-group">
							<label for="features">Features:</label>
							<input type="text" class="form-control" id="features" name="features" required>
						</div>
                        <div class="form-group">
							<label for="price">Price:</label>
							<input type="number" class="form-control" id="price" name="price" required>
						</div>
                        <div class="form-group">
							<label for="ac">AC/NON AC:</label>
							<select class="form-control" name="ac" id="ac">AC/NON-AC required>
                                <option value="ac">AC</option>
                                <option value="non-ac">NON-AC</option></select>
						</div>
                        <div class="form-group">
							<label for="images">Images:</label>
                            <input type="file" id="images" name="images" accept="image/*"><br>
						</div>
						<button type="submit" class="btn">Register</button>
					</form>
				</div>
			</div><!-- header -->
		</div><!--/#wrapper-->

		<script src="../static/js/jquery-2.1.3.min.js"></script>
		<script src="../static/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/jquery.actual.min.js"></script>
		<script src="../static/js/jquery.scrollTo.min.js"></script>
		<script src="../static/js/script.js"></script>

		<style>
			.login-wrapper {
				padding: 20px;
				background-color: #000000;
				border-radius: 8px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				max-width: 400px;
				margin: 50px auto;
			}
		
			.login-wrapper h2 {
				text-align: center;
				margin-bottom: 20px;
			}
		
			.form-group {
				margin-bottom: 15px;
			}
		
			.form-group label {
				display: block;
				margin-bottom: 5px;
			}
		
			.form-group input {
				width: 100%;
				padding: 8px;
				box-sizing: border-box;
			}
		
			.btn {
				width: 100%;
				padding: 10px;
				background-color: #007bff;
				color: white;
				border: none;
				border-radius: 5px;
				cursor: pointer;
			}
		
			.btn:hover {
				background-color: #0056b3;
			}
		</style>

	</body>
</html>
