<!DOCTYPE html>
<html class="noIE" lang="en-US">
<head>
    <title>Event Management - Auditorium Registration</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- google fonts -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+Sans:regular,italic,bold,bolditalic"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nixie+One:regular,italic,bold,bolditalic"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+SC:regular,italic,bold,bolditalic"/>
    
    <!-- css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css" media="screen"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.js"></script>
    <![endif]-->

    <!--[if IE 8]>
        <script src="assets/js/selectivizr.js"></script>
    <![endif]-->
</head>

<body>
    <div id="drawer-right">
        <div class="cross text-right">
            <a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
        </div>
        <h2>Navigate</h2>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/"><i class="fa fa-home"></i> Home</a>
            </li>
            <li>
                <a href="{% url 'login' %}"><i class="fa fa-lock"></i> Login</a>
            </li>
            <li>
                <a href="{% url 'register_user' %}"><i class="fa fa-user"></i> User Registration</a>
            </li>
            <li>
                <a href="{% url 'register_auditorium' %}"><i class="fa fa-building"></i> Auditorium Registration</a>
            </li>
        </ul>
        <div class="social">
            <h2>Stay Connected</h2>
            <ul>
                <li><a href=""><i class="fa fa-facebook-square fa-3x"></i></a></li>
                <li><a href=""><i class="fa fa-twitter-square fa-3x"></i></a></li>
                <li><a href=""><i class="fa fa-tumblr-square fa-3x"></i></a></li>
                <li><a href=""><i class="fa fa-google-plus-square fa-3x"></i></a></li>
            </ul>
        </div>
    </div><!-- #drawer-right -->

    <div id="wrapper">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <div id="header" class="content-block header-wrapper">
            <div class="header-wrapper-inner">
                <section class="top clearfix">
                    <div class="pull-left">
                        <h1><a class="logo" href="/">iEvent</a></h1>
                    </div>
                    <div class="pull-right">
                        <a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
                    </div>
                </section><!-- /.top -->

                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Auditorium Registration</h2>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.header-wrapper-inner -->
        </div><!-- /.header-wrapper -->

        <div id="middle" class="content-block">
            <div class="container text-center">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <form method="post" action="{% url 'register_auditorium' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="auditorium_name">Auditorium Name:</label>
                            <input type="text" class="form-control" id="auditorium_name" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h4>Get in touch</h4>
                        <p>+123 456 789<br>
                        <a href="mailto:info@iEvent.com">info@iEvent.com</a><br>
                        iEvent Ltd, United Kingdom</p>
                    </div><!-- /.col-md-4 -->
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h4>Social media</h4>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div><!-- /.col-md-4 -->
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h4>Our services</h4>
                        <ul>
                            <li><a href="#">Event Planning</a></li>
                            <li><a href="#">Event Management</a></li>
                            <li><a href="#">Venue Booking</a></li>
                            <li><a href="#">Catering Services</a></li>
                        </ul>
                    </div><!-- /.col-md-4 -->
                </div><!-- /.container -->
            </div><!-- /.footer-top -->
            <div class="footer-bottom">
                <div class="container text-center">
                    <p>&copy; 2024 iEvent. All Rights Reserved.</p>
                </div>
            </div><!-- /.footer-bottom -->
        </div><!-- /#footer -->

    </div><!-- /#wrapper -->

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/retina.min.js"></script>
    <script src="../static/js/modernizr.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>
