<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
	<head>
		<title>Event Management</title>

		<!-- meta -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<!-- google fonts -->
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+Sans:regular,italic,bold,bolditalic"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nixie+One:regular,italic,bold,bolditalic"/>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+SC:regular,italic,bold,bolditalic"/>
		
		<!-- css -->
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/style.css" media="screen"/>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.js"></script>
		<![endif]-->

		<!--[if IE 8]>
	    	<script src="assets/js/selectivizr.js"></script>
	    <![endif]-->

		<style>
		.auditorium-container {
            display: flex;
            flex-wrap: wrap;
        }
        .auditorium-tile {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px; /* Adjust width as needed */
            border: 1px solid #ccc;
            margin: 10px;
            padding: 10px;
            text-align: center;
        }
        .auditorium-tile img {
            width: 100%;
            height: auto;
        }
        .auditorium-tile h3 {
            margin: 10px 0;
        }
        .auditorium-tile p {
            margin: 5px 0;
        }
        .auditorium-tile a, .auditorium-tile button {
            margin-top: 10px;
        }
	

	</style>
	</head>
	
	<body>
		<div id="drawer-right">
			<div class="cross text-right">
				<a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
			</div>
			<h2>Navigate</h2>
			<ul class="nav nav-pills nav-stacked">
				<li>
					<a href="/"><i class="fa fa-home"></i> Logout</a>
				</li>
				<li>
					<a href="{ url 'my_schedule' }"><i class="fa fa-calendar"></i> My Schedules</a>
				</li>
			</ul>
			<div class="social">
				<h2>Stay Connected</h2>
				<ul>
					<li><a href=""><i class="fa fa-facebook-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-twitter-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-tumblr-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-google-plus-square fa-3x"></i></a></li>
				</ul>
			</div>
		</div><!-- #drawer-right -->

		<div id="wrapper">
			
			<div id="header" class="content-block header-wrapper">
				<div class="header-wrapper-inner">
					<section class="top clearfix">
						<div class="pull-left">
							<h1><a class="logo" href="/">welcome {{ user.username }}</a></h1>
						</div>
						<div class="pull-right">
							<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
						</div>
					</section>
					<section class="center">
						<div class="slogan">
							BOOK Your EVENT SPOT
						</div>
						<div class="secondary-slogan">
							book your event slots for your favorite auditorium
						</div>
					</section>
					<section class="bottom">
						<a id="scrollToContent" href="#">
							<img src="../static/images/arrow_down.png">
						</a>
					</section>
				</div>
			</div><!-- header -->

			<!-- Auditorium List -->
			<div class="auditorium-container">
				{% for auditorium in auditoriums %}
				<div class="auditorium-tile">
					{% if auditorium.images %}
						<img src="{{ auditorium.images.url }}" alt="Image of {{ auditorium.user.username }}">
					{% else %}
						<img src="../static/images/blue_mac2.jpg" alt="Default Image">
					{% endif %}
					<h3>{{ auditorium.user.username }}</h3>
					<p>Price: {{ auditorium.price }}</p>
					<a href="{% url 'auditorium_details' auditorium.id %}">View Details</a>
					<form action="{% url 'book_auditorium' auditorium.id %}" method="post">
						{% csrf_token %}
						<button type="submit">Book Now</button>
					</form>
				</div>
				{% endfor %}
			</div>

			<div class="content-block" id="contact">
				<div class="container text-center">
					<header class="block-heading cleafix">
						<h1>Contact Us</h1>
						<p>Feel free to drop us a line.</p>
					</header>
					<section class="block-body">
						<div class="row">
							<div class="col-md-6 col-md-offset-3">
								<p>+91 9876543212</p>
                                <a href="www.ievent.com">www.ievent.com</a>
                                <p>2nd Floor Nila Building Technopark Kazhakuttom Trivandrum</p>
							</div>
						</div>
					</section>
				</div>
			</div><!-- #contact -->

			<div class="content-block" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-xs-6">&copy; Copyright 2024</div>
					</div>
				</div>
			</div><!-- #footer -->

		</div><!--/#wrapper-->

		<script src="../static/js/jquery-2.1.3.min.js"></script>
		<script src="../static/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/jquery.actual.min.js"></script>
		<script src="../static/js/jquery.scrollTo.min.js"></script>
		<script src="../static/js/script.js"></script>

	</body>
</html>

