<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>My Bookings</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+Sans:regular,italic,bold,bolditalic"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nixie+One:regular,italic,bold,bolditalic"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+SC:regular,italic,bold,bolditalic"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css" media="screen"/>
</head>

<body>
    {% include 'user_navbar.html' %}
    <div class="container">
        <h2>View Requests</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Auditorium</th>
                    <th>Date</th>
                    <th>Features</th>
                    <th>Final Price</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for request in user_requests %}
                <tr>
                    <td>{{ request.auditorium.user.username }}</td>
                    <td>{{ request.date }}</td>
                    <td>
                        <ul>
                            {% for feature in request.features.all %}
                            <li>{{ feature.name }}</li>
                            {% empty %}
                            <li>No features selected</li>
                            {% endfor %}
                            </ul>
                    </td>
                    <td>${{ request.final_price }}</td>
                    <td>
                        {% if request.approved %}
                            Accepted
                        {% else %}
                            Pending
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No requests found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
